body {

  div#dropTarget {
    text-align: center;
    border: 2px #d7d7d7 dashed;
    border-radius: 10px;
    line-height: 3.5;
    margin-top: 20px;
    box-sizing: border-box;

    span#dropTargetText {
      font-size: 3.0em;
      color: #d7d7d7;
    }

    div.droppedFile {
      text-align: left;
      background-color: #F8F8F8;
      border: 1px solid #D3D3D3;
      border-radius: 4px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 30px;
      }

      button {
        height: 28px;
      }

      div.error {
        font-style: italic;
        color: red;
      }
    }
  }
}

.align-right {
  text-align: right;
}


button {

  border-radius: 4px;
  border-width: 1px;
  min-width: 100px;

  line-height: 0;

  &.primary {
    border-color: #92CA76;
    background-color: #66FF6B;

    &:hover {
      background-color: #3CFB42;
    }
  }

  &.danger {
    border-color: #CC0000;
    background-color: #FF6A6A;

    &:hover {
      background-color: #FF4949;
    }
  }
}
